---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Impact;
    font-weight: 400;
    src: url("../fonts/impactreg.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: Impact;
    font-weight: 500;
    src: url("../fonts/impactreg.woff") format("woff");
    font-display: swap;
  }
}

:root {
    --corner-low: 35%;
    --corner-high: calc(100% - var(--corner-low));
}

.clipped {
    clip-path: polygon(0% var(--corner-high),0% 0%,var(--corner-high) 0,100% var(--corner-low),100% 100%,var(--corner-low) 100%);
}

section a:hover {
    @apply text-fuchsia-400;
}

h1 {
  -webkit-text-stroke: 3px black; text-stroke: 3px black;
}

h1, h2, h3, h4, h5 {
  @apply font-['Impact'];
}

section:nth-child(even) {
  box-shadow: inset 0px 15px 15px -3px rgba(0, 0, 0, 0.6), inset 0px -15px 15px -3px rgba(0, 0, 0, 0.6);
}