<!DOCTYPE html>
<html lang="{{ site.lang | default: " de-DE" }}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/main.css">


	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicons/site.webmanifest">
	<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
</head>

<body>
	<div class="relative">
		<nav class="bg-gradient-to-r from-fuchsia-700 via-fuchsia-700 to-stone-900 text-white w-2/3 h-72 absolute top-0 left-0"
			style="clip-path: polygon(100% 0, 0 0, 0 100%);">
			<ul class="flex flex-wrap items-center mb-4 md:pt-2">
				{% for nav_element in site.data.navlinks %}
				<li class="mx-8">
					<a href="{{ nav_element.link }}" class="mr-8 hover:underline md:mr-6">{{ nav_element.name}} </a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		<header class="pb-12 max-w-xl pt-14 mx-auto text-center h-80 z-0 relative">
			<div class="grid grid-cols-2 place-content-between items-center mb-8 mt-2">
				<h1 class="text-8xl text-center md:text-left mb-8">
					FiNessi
				</h1>
				<div class="hidden md:flex ml-32 drop-shadow-2xl">
					<img class="w-48 clipped" src="/assets/images/nessi.jpeg">
				</div>
			</div>
			<h2 class="pt-12 text-3xl">{{ page.title }}</h2>
		</header>
	</div>

		{{ content }}


	<footer class="relative transform-none md:skew-y-6 bg-transparent">
		<div class="transform-none md:-skew-y-6">
			<nav class="relative bg-stone-900 text-stone-50 h-64">
				<ul class="flex flex-wrap items-center mb-4 md:pt-2 justify-center">
					{% for bot_element in site.data.bottomlinks %}
					<li class="mx-8">
						<a href="{{ bot_element.link }}" class="mr-8 hover:underline md:mr-6">{{ bot_element.name}} </a>
					</li>
					{% endfor %}
				</ul>
			</nav>
			<div class="absolute h-64 w-3/4 bg-gradient-to-r from-fuchsia-700 to-fuchsia-900 bottom-0 right-0 "
				style="clip-path: polygon(100% 0%,0% 100%,100% 100%);">
			</div>
			<div class="absolute h-64 w-3/4 bottom-0 right-0">
				<div class="relative pt-36 mr-4 float-right w-96">
					{% for sm_element in site.data.bottomicons %}
					<a href="{{ sm_element[1].url }}" rel="me">
						<img src="{{ sm_element[1].logo }}" alt="{{ sm_element[1].name }}"
							class="w-12 mx-1 rounded-xl inline-block bg-white" />
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</footer>

</body>

</html>