<!DOCTYPE html>
<html lang="{{ site.lang | default: " de-DE" }}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="icon" type="image/png" href="{{ 'assets/images/background.png' | relative_url }}" />
</head>

<body>
	<div class="relative">
		<nav class="bg-gradient-to-r from-fuchsia-700 via-fuchsia-700 to-black text-white w-2/3 h-72 absolute top-0 left-0"
			style="clip-path: polygon(100% 0, 0 0, 0 100%);">
			<ul class="flex flex-wrap items-center mb-4 md:pt-2">
				{% for nav_element in site.data.navlinks %}
					<li class="mx-8">
						<a href="{{ nav_element.link }}" class="mr-8 hover:underline md:mr-6">{{ nav_element.name}} </a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<header class="pb-12 max-w-xl pt-14 mx-auto text-center h-80 z-0 relative">
			<div class="grid grid-cols-2 place-content-between items-center mb-8 mt-2">
				<h1 class="text-8xl text-center md:text-left mb-8">
					FiNessi
				</h1>
				<div class="hidden md:flex ml-32 drop-shadow-2xl">
					<img class="w-48 clipped" src="/assets/images/nessi.jpeg">
				</div>
			</div>
			<h2 class="text-2xl">{{ page.title }}</h2>
		</header>
	</div>
	{{ content }}
	<footer class="mt-8">
		<nav>
			<ul class="flex flex-wrap justify-center items-center mb-4">
				<li>
					<a href="#" class="mr-4 hover:underline md:mr-6 ">Kontakt</a>
				</li>
				<li>
					<a href="#" class="mr-4 hover:underline md:mr-6">Impressum</a>
				</li>
				<li>
					<a href="#" class="mr-4 hover:underline md:mr-6">Datenschutz</a>
				</li>
			</ul>
		</nav>
	</footer>
</body>

</html>